/* Reset default browser styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  /* Global styles */
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
  }
  
  header {
    background: #4588f4;
    padding: 20px;
    color: #fefefe;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #000000;
    text-decoration: none;
  }


.hero {
background: #4fe6f4;
padding: 50px;
text-align: center;
}

.hero-content {
max-width: 600px;
margin: 0 auto;
}

.cta-button {
display: inline-block;
padding: 10px 20px;
background: #cc2107ef;
color: #000000;
text-decoration: none;
border-radius: 5px;
}

.services {
padding: 50px;
text-align: center;
}

.services h2 {
margin-bottom: 30px;
}

.service {
margin-bottom: 30px;
}

.pricing {
background: #3bee7a;
padding: 50px;
text-align: center;
}

.pricing h2 {
margin-bottom: 30px;
}

.plan {
display: inline-block;
margin: 0 20px;
}

.plan h3 {
margin-bottom: 10px;
}

.price {
font-size: 18px;
margin-bottom: 10px;
}

footer {
background: #397ff0;
color: #fff;
padding: 20px;
text-align: center;
}
